<footer class="site-footer">
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">
              <span class="icon icon--email"></span>
              <span class="username">{{ site.email }}</span>
            </a></li>

          {% for icon in site.data.icons %}
            <li>
              <a href="https://{{ icon.title }}.com/{{ icon.username }}">
                <span class="icon  icon--{{ icon.title }}"></span>
                <span class="username">{{ icon.username }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
